<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>
<p>
  <samp>This text is meant to be treated as sample output from a computer program.</samp>
</p>

<p>
  <kbd>cd</kbd>
</p>